@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");

html[lang="ja"] {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.no-bulls {
  list-style-type: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

#portrait {
  text-align: center;
}

h1 {
  word-break: keep-all;
  font-size: 1.8em;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 5px;
}

p {
  line-height: 1em;
}

section {
  margin-bottom: 25px;
}

footer {
  text-align: center;
  color: gray;
}
