/* noto-sans-jp-regular - japanese_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-jp-v52-japanese_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-jp-700 - japanese_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-jp-v52-japanese_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html[lang="ja"] {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

* {
  font-weight: 400;
}

h1,
h2 {
  font-weight: 700;
}

.no-bulls {
  list-style-type: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

#portrait {
  text-align: center;
}

h1 {
  word-break: keep-all;
  font-size: 1.8em;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 5px;
}

p {
  line-height: 2em;
}

img {
  display: initial;
}

section {
  margin-bottom: 25px;
}

footer {
  text-align: center;
  color: gray;
}
