/*iOSで背景画像が固定されない問題を解決するため
以下のように疑似要素自体を固定としている*/
body::before {
  background: url('images/index/background/background_1.jpg') no-repeat center; /* 画像（ここにfixedは入れない） */
  background-size: cover;
  content: "";
  display: block;
  position: fixed; /* 擬似要素ごと固定 */
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#root {
  background-color: rgba(255, 255, 255, 0.8);
}

p {
  margin: 0.6em;
}

.content {
  margin-top: 9vh;
}

@media (min-width: 1000px) {
  .content {
    margin-top: 9vh;
    margin-left: 33vw;
  }
}

#Profile,#MyApps,#Qualifications,#Videos {
  margin-top:-50px;
  padding-top:50px;
}